In [1]:
import pandas as pd
import numpy as np
from naive_vad import makeTrainData

In [4]:
trainX, trainY = makeTrainData('data/dev', 'data/dev_label.txt')
trainX = trainX[:, 1:].T

In [5]:
df = pd.DataFrame(trainX, columns=['zcr','ener'])

In [6]:
df.head()

     zcr         ener
0  221.0   967.943780
1  221.0   895.181208
2  216.0  1018.047042
3  211.0   996.191086
4  210.0   918.225677

In [7]:
df.describe()

                 zcr           ener
count  880194.000000  880194.000000
mean      166.463991    6724.783842
std        91.673684    9507.130392
min         0.000000       0.000000
25%        92.000000     752.121687
50%       155.000000    3558.324918
75%       229.000000    8950.026184
max       480.000000  535118.771919

Check the search

In [2]:
import numpy as np
AUC = np.load('AUCsearch.npy')
EER = np.load('EERsearch.npy')

In [3]:
print(np.amax(AUC))
print(np.unravel_index(np.argmax(AUC, axis=None), AUC.shape))

0.788364982952805
(0, 5, 5, 0)

In [4]:
print(np.amin(EER))
print(np.unravel_index(np.argmin(EER, axis=None), EER.shape))

0.22676595987851775
(1, 5, 3, 0)

In [6]:
print ( 'EER[0,5,5,0]', EER[0,5,5,0] )

print ( 'AUC[1,5,3,0]', AUC[1,5,3,0] )

EER[0,5,5,0] 0.2525258860636876
AUC[1,5,3,0] 0.7757385004125164

In [8]:
AUC2 = np.load('AUCsearch2.npy')
EER2 = np.load('EERsearch2.npy')
print(np.amax(AUC2))
print(np.unravel_index(np.argmax(AUC2, axis=None), AUC2.shape))

print(np.amin(EER2))
print(np.unravel_index(np.argmin(EER2, axis=None), EER2.shape))

0.821788465588291
(0, 3, 4, 0)
0.1840492507711113
(1, 3, 5, 0)

In [9]:
print ( 'EER[0,3,4,0]', EER[0,3,4,0] )

print ( 'AUC[1,3,5,0]', AUC[1,3,5,0] )

EER[0,3,4,0] 0.3049363667660435
AUC[1,3,5,0] 0.7401450578909949

In [10]:
AUC3 = np.load('AUCsearch3.npy')
EER3 = np.load('EERsearch3.npy')
print(np.amax(AUC3))
print(np.unravel_index(np.argmax(AUC3, axis=None), AUC3.shape))

print(np.amin(EER3))
print(np.unravel_index(np.argmin(EER3, axis=None), EER3.shape))

0.6241697287404302
(2, 0, 2, 4)
0.4609621852311801
(2, 3, 3, 5)